.footer {
  border: 1px solid red;
  display: flex;
  font-family: 'Roboto';
}

.nav-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-items {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}