* {
  border: 1px solid red;
  font-family: 'Roboto';
  font-weight: bolder;
  color: white;
  -webkit-text-stroke: .25px black;
}

.chunk {
  width: 100vw;
  height: 100vh;
}

.ch1 {
  background-image: url('./assets/bg-skull1.webp');
  background-size: cover;
}

.ch4 {
  background-image: url('./assets/bg-tv1.webp');
  background-size: cover;
}

.content-box {
  border: 1px solid green;
  margin: 17em;
}

.header {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.sign-in-button {
  margin: 1.5em;
}

.img-container {
  border: 1px solid blue;
  display: flex;
  justify-content: space-around;
  margin: 12.5em;
}

.vhs-img {
  height: 30em;
}

.img-bg-1 {
  background-color: #180511;
}

.img-bg-2 {
  background-color: #0e051d;
}

.button {
  background-color: rgb(229, 160, 250);
  color: black;
}